#!/usr/bin/env bash
# ---------------------------------------------------------------------------------------
# Helper aliases for the terminal. These will be sourced by .bash_profile when the shell
# starts up. 
#
# Special thanks to @mathias for a lot of prior art here:
# https://github.com/mathiasbynens/dotfiles/blob/master/.aliases
#
# Author: Dennis Coldwell (@dencold)
#

# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# Shortcuts
alias d="cd ~/GDrive"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/src/github.com/dencold"
alias g="git"
alias h="history"
alias j="jobs"

# make ls colorful!
colorflag="--color"

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -laF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="ls ${colorflag}"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# vim > vi
alias vi=vim

# use tmux2 if it exists
if hash tmux2 2>/dev/null; then
    alias tmux=tmux2
fi

## YELP Specific
alias trusty='ssh -A dev16-uswest1cdevc.dev.yelpcorp.com'
alias xenial='ssh -A xenialdev2-uswest1cdevc.dev.yelpcorp.com'
alias fixssh='export $(tmux show-environment | grep \^SSH_AUTH_SOCK=)'
